
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v3.8.5">
    <title>Activeer je Account · <% firstName %> <% lastName %></title>

	<!-- bootstrap  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <!-- Google fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Inconsolata" rel="stylesheet">
    <!-- fontawesome  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


    
   
    <link rel="stylesheet" href="css/spectrum-goals_styles.css" />
  </head>
  <body >
   
        <div class="container" style="padding: 50px;">
    
        
          <div class="row">

    
              <div class="card shadow" style="margin: auto;background: none;">
                  <div class="card-body">
                  <div class="py-5 text-center">
                     
                      <h2>Activeer je account,  <%=firstName %> <%= lastName %></h2>
                      <p class="lead text-muted" id="activateMessage">Geef hieronder je wachtwoord op om je account te activeren.</p>
                    </div>
              
              <form class="needs-validation" novalidate="" id="activateProfileForm"  autocomplete="off">
                
                  <p></p>
                <input type="hidden" id="id" name="id" value="">
                <input type="hidden" id="createdBy" name="createdBy" value="">
                
               
        
                <div class="mb-3">
                  <label for="password">Wachtwoord</label>
                  <input type="password" class="form-control" id="password" name="password">
                  <div class="invalid-feedback">
                    Geef een geldig wachtwoord op
                  </div>
                </div>
                
                <div class="mb-3">
                  <label for="repeat_password">Wachtwoord (opnieuw) </label>
                  <input type="password" class="form-control" id="repeat_password" name="repeat_password">
                  <div class="invalid-feedback">
                    Geef een geldig wachtwoord op
                  </div>
                </div>
                
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Activeer je account</button>
              </form>
              </div>
            </div>
          </div>
        
          
        </div>
<!-- jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
<!-- bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha256-1A78rJEdiWTzco6qdn3igTBv9VupN3Q1ozZNTR4WE/Y=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js" integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
  $('#id').val('<%= uuid %>');
    $('#firstName').val('<%= firstName %>');
    $('#lastName').val('<%= lastName %>');
    $('#createdBy').val('<%= createdBy %>');
    const activateProfileForm = document.getElementById('activateProfileForm')
    activateProfileForm.addEventListener( 'submit', ( event ) => {
      event.preventDefault();
      const activateProfileFormData = new FormData(activateProfileForm),
      activateProfileFormObj = {}
      for(let [key,value] of activateProfileFormData.entries()){
        activateProfileFormObj[key] = value
      }
      if(activateProfileFormObj.password === activateProfileFormObj.repeat_password){
        axios.post('verify',activateProfileFormObj)
        .then(function (account) {
          $('#activateProfileForm').remove()
          $('#activateMessage').html(`Je account is geactiveerd. <a href="/signin">Je kunt nu inloggen</a> met het wachtwoord dat je hebt opgegeven.`)
        }).catch(function(error){
          $('#activateMessage').html(`Oeps! Er is iets fout gegaan. Neem contact met de systeembeheerder en geef onderstaande foutmelding door;<br> ${error}`);
        });
      }else{

      }
      

    });
});
</script>
</body>
</html>
